<p>register works!</p>
<p>resister works!</p>
<form (ngSubmit)="registerUser()">
    <div class = 'row'>
        <div class = 'col-sm-3'></div>
        <div class = 'col-sm-6'>
            <h1 style = 'text-align:center'> Register Form</h1>    
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
      <input type="text" [(ngModel)]="register.name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" [(ngModel)]="register.email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter your email address">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="register.password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>

  </form>
  